/*
  --------------------------------------------------------
  
  Home Start
  
      banner
  
  --------------------------------------------------------
  */
.bg-container {
  background-image: linear-gradient(
      rgba(32, 30, 96, 0.8),
      rgba(32, 30, 96, 0.8)
    ),
    url("../public/assets/shattered-island.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}